* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

main {
  width: 100%;
  height: 500px;
  background-color: aqua;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}